<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>-->


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/r-2.2.2/datatables.min.css"/>

    <title>Title</title>
</head>
<body>
<th:block th:replace="admin/adminHeader :: header"/>
<div class="container">
    <br/>
    <div class="row">
        <div class="col col-md-6 mb-4 col-sm-12 col-12" >
            <form th:action="@{/role/saveRole}" method="post">
                <div class="form-group">
                    <label for="role_id">Role Id: </label>
                    <input type="text" readonly="true" class="form-control" id="role_id" name="role_id" placeholder="Your Role Id" th:field="${newRole.id}" autofocus="autofocus">
                </div>
                <div class="form-group">
                    <label for="roleName">Role Name: </label>
                    <input type="text" class="form-control" id="roleName" name="roleName" placeholder="Your Role Name" th:field="${newRole.roleName}">
                </div>
                <button type="submit" class="btn btn-success btn-sm">Save</button>
                <a th:href="@{/role/rolePage}"class="btn btn-info btn-sm" role="button">New</a>
            </form>
        </div>
        <div class="col col-md-6 table-responsive col-sm-12 col-12">
            <table id="example" class="table ">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Role Id</th>
                    <th scope="col">Role Name</th>
                    <th scope="col">Edit</th>
                    <th scope="col" >Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="role : ${roles}">
                    <td th:text="${role.id}">1</td>
                    <td th:text="${role.roleName}">2</td>
                    <td><a th:href="@{/role/findForEditRole/__${role.id}__}" class="btn btn-info btn-sm" role="button">Edit</a></td>
                    <td><a th:href="@{/role/deleteRole/__${role.id}__}" class="btn btn-danger btn-sm" role="button">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--<th:block th:replace="admin/adminFooter :: footer"/>-->
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.18/r-2.2.2/datatables.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    $(document).ready( function () {
        $('#example').DataTable(
            {
                responsive:true
            }
        );
    } );


</script>
</body>
</html>
