<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <title>Title</title>
</head>
<body>
<th:block th:replace="user/userHeader :: header"/>

<div class="container">

    <div role="alert" th:if="${message}" th:class="${'alert alert-dismissible fade show ' + alertClass}">
        <strong th:text="${message}"></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="row mt-4 mb-4">
        <div class="offset-md-9 col-md-3">
            <input class="form-control" id="myInput" type="text" placeholder="Search...">
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">University Id</th>
                    <th scope="col">Department Name</th>
                    <th scope="col">Course Duration</th>
                    <th scope="col">Amount</th>

                </tr>
                </thead>
                <tbody id="myTable">
                <tr th:each="depart : ${departmentList}">
                    <td th:each="uni : ${universities}" th:if="${uni.universityId == depart.universityId}" th:text="${uni.universityName}">2</td>
                    <td th:text="${depart.departmentName}">3</td>
                    <td th:text="${depart.courseDuration}">4</td>
                    <td th:text="${depart.amount}">5</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--<th:block th:replace="fragments/footer :: footer"/>-->

</body>
</html>
